.fallow/**
.github/**
.vscode/**
assets/generated/**
assets/Megadeth-RustInPeace.jpg
bin/**
node_modules/**
samples/**
scripts/**
src/**
tests/**
themes/**
.editorconfig
.fallowrc.json
.gitignore
.prettierrc.toml
INSTALL.md
justfile
tsconfig.json
eslint.config.mjs
